/* @import url('https://fonts.googleeapis.com/css?family=poppins:200,300,400,500,600,700,800,900&display=swap'); */

/* universal */
* {
    box-sizing: border-box;
    
}

/* brand color palette */
:root {
    --primary: rgb(78, 78, 78);
    --secondary: rgb(22, 80, 80);
    --tertiary: darkgray;
    --dark: black;
    --light: white;
}

body {
    margin:10;
    padding: 10;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--primary);
    background-color: var(--light);
    line-height: 1.5;
    flex-direction: row;
    flex-wrap: wrap;
}

h1,
h2,
h3,
h4 {
    margin: 30px;
}

p {
    margin: 0;
}

header {
    padding: 60px 10% 35px 0; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--tertiary);
    box-shadow: 0 5px 35px rgba(146,  204, 206, 0.4);
}

header h1 {
    color: var(--tertiary);
    background-color: var(--secondary);
    padding: 5px 1% 5px 6%;
    margin: 0;
    font-size: 4vw;
    line-height: 1;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

nav a {
    text-decoration: none;
    padding: 5px 10px;
    color: var(--secondary);
    margin-right: 10px;
    background-image: linear-gradient(270deg, var(--secondary) 0%, var(--secondary) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: bottom;
  transition: all 0.25s ease-in;
  font-size: 1.4rem;

}

nav a:hover {
    background-size: 100% 100%;
    color: var(--primary);

}

nav a:last-child {
    margin-right: 0;
}

section h2 {
   font-size: 3em;
   color: rgb(12, 11, 11);
   font-weight: 500;
   line-height: 1.5em;


}

main h3 {
    text-decoration: none;
    padding: 10ox 5px;
    font-size: 1.5em;
    color: rgb(13, 46, 13);
    flex-wrap: wrap;


}
















/* 

.section
{
     padding: 100px;
}
.banner
{ 

    background: grey;
    background-image: url("/images/mtn.jpg");
    background: url("banner.jpg");
    background-size: cover;
    background-position: center;
    min-height: 30vh;
    padding: 2% 6%;
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
}
   
}
.banner h2
{
 font-size: 3em;
 color: rgb(12, 11, 11);
 font-weight: 500;
 line-height: 1.5em;
}
.banner h2 span 
{
    font-size: 3em;
    font-weight: 700;
}
.banner h3
{
    font-size: 1.5em;
    color: rgb(10, 10, 10);
    font-weight: 500;    
}
.btn
{
    position: relative;
    background: #2196f3;
    display: inline-block;
    color: #fff;
    margin-top:20px;
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
}
header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo
{
    color:darkblue;
    font-size: 30px;
    text-transform: uppercase;
    text-decoration: darkgray;
    font-weight: 700;
    letter-spacing: normal;
}
header ul
{
    position: relative;
    display:flexwrap;
}
header ul li
{
    position: relative;
    list-style: none;
}
header ul li a
{
    position: relative;
} */